{
    "extends": "standard",
    "plugins": ["jest"],
    "rules": {
        "semi": [2, "always"],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "no-multiple-empty-lines": [2, {"max": 2}],
        "space-before-function-paren": 0
    },
    "env": {
        "jest/globals": true
    }
}